@import "./variables/colors.scss";

$background-color: var(--thunder-blue);

body {
  margin: 0;

  main {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    ul {
      list-style: none;

      li {
        a {
          background: $background-color;
          display: inline-flex;
          margin: 2rem;
          padding: 2rem;
          width: auto;
          color: white;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            background: darken(#007ac1, 25%);
          }
        }
      }
    }
  }
}
