:root {
  // Common colors
  --grey-100: #efefef;
  --grey-200: #cccccc;

  // MLB colors
  --angels-red: #ba2026;
  --mariners-blue: #182d55;

  // NBA colors
  --heat-red: #98002e;
  --thunder-blue: #007ac1;
}
